
{% extends 'base.html' %}
{% block title %}My Profile{% endblock %}



{% block content %}



<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="true" href="{% url 'ecomapp:customerprofile'  %}">My Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'ecomapp:customerorder'  %}">My Orders</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h2 class="card-title">Detail Information</h2>
    <p><span class="font-weight-bold">Name: </span> {{customer.full_name}}</p>
    <p><span class="font-weight-bold">Username: </span> {{customer.user.username}}</p>
    <p><span class="font-weight-bold">Email: </span> {{customer.user.email}}</p>
    <p><span class="font-weight-bold">Address: </span> {{customer.address}}</p>
    <p><span class="font-weight-bold">Joined on: </span> {{customer.joined_on}}</p>
    <a href="#" class="btn btn-primary">Edit Profile</a>
  </div>
</div>


{% endblock %}
